<div class="modal-header text-center">
    <h5 class="modal-title">{{ tittle }} Designation</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="cancel()"></i>
    </div>
</div>

<div class="modal-body">
    <form [formGroup]="designationForm" (ngSubmit)="submit()">
        <div class="_card white-bg">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">
                        Designation Name <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Designation Name"
                        formControlName="name" />
                    @if (designationForm.get('name')?.invalid &&
                    (designationForm.get('name')?.dirty ||
                    designationForm.get('name')?.touched)) {
                    <span class="text-danger">Designation Name is required</span>
                    }
                </div>

                <div class="col-md-12 mb-3">
                    <label class="form-label">
                        Status <span class="text-danger">*</span>
                    </label>
                    <select class="form-control" formControlName="status">
                        @for (data of StatusDropdown; track data) {
                        <option [ngValue]="data.value">{{ data.text }}</option>
                        }
                    </select>

                    @if (designationForm.get('status')?.invalid &&
                    (designationForm.get('status')?.dirty ||
                    designationForm.get('status')?.touched)) {
                    <span class="text-danger">Status is required</span>
                    }
                </div>

            </div>
        </div>

        <div class="footer">
            <div class="button-container">
                <button class="btn btn-success" type="submit" [disabled]="isSubmitting">
                    @if (isSubmitting) {
                    <i class="fa fa-spinner fa-spin"></i> Saving...
                    } @else {
                    {{ editData ? 'Update' : 'Submit' }}
                    }
                </button>
                <button class="btn btn-danger" type="button" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>